body {
    font-family: sans-serif;
}
header {
background-color: rgba(0, 0, 0, 0.24);  
}
header img {
border: 10px solid rgba(0, 0, 0, 0); 
}
h1 {
color: rgb(225, 0, 255);    
}
footer p {
border: 3px solid blue;
margin: 0px;
border-collapse: collapse;
padding: 2px;
}
